.side
{
    background-color: #4a81b8;
    border-right: 1px solid #e9ecef;
    height: 100vh;
    padding: 0;
    position: fixed;
    width: 250px;
    z-index: 1;
}
.body{
    margin-left: 250px;
    padding: 0;
    width: 100%;
}